player-connection-mode=Listen
player-connection-guid=3545042742
player-connection-debug=0
player-connection-project-name=Capstone - Team 1
player-connection-ip=10.30.201.118
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a4da8a97540648b19235425c8870bb7f
