player-connection-mode=Listen
player-connection-guid=4239041311
player-connection-debug=0
player-connection-project-name=Capstone - Team 1
player-connection-ip=10.30.201.118
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2fae71aed7634e4197e26fcec8f3319b
